
<br/>
<br/>
<br/>
    
    
    <!--==========================
      More Features Section
    ============================-->
    <section id="more-features" class="section-bg">
      <div class="container">

        <div class="section-header">
          <h3 class="section-title">Wallet</h3>
          <span class="section-divider"></span>
          <p class="section-description">A journey of a thousand steps begins with a step. Make a move today</p>
        </div>

        <div class="row">

          <div class="col-lg-3"></div>
          <div class="col-lg-6">
            <div class="box wow fadeInLeft">
              <div class="icon"><i class="ion-cash"></i></div>
              <h4 class="title"><a href="">Deposit</a></h4>

                <div class="well pull-right">To make a deposit into your wallet, please do well to enter correctly the necessary details to make a sucessful deposit. Deposits take maximum of 3 minutes to reflect on your wallet. Deposits come with a 2% fee on them.</div>

                <br/>
                <br/>
                <%= simple_form_for(@request_master, :html => { :class => 'description'}) do |f| %>
                  <%= f.error_notification %>

                  <%= f.label :network, "Network" %>
                  <%= f.input :network, collection: [["MTN","MTN"],["Vodafone","VOD"],["Tigo","TIG"],["Airtel","AIR"]], label_method: :first, value_method: :last, include_blank: true, class:"form-control", label: false, boolean_style: :inline %>
  

                  <%= f.label :customer_number, "Mobile Money Number" %>
                  <%= f.input :customer_number, class:"form-control", label: false, boolean_style: :inline %>


                  <%= f.label :amount, "Amount" %>
                  <%= f.input :amount, class:"form-control", label: false, boolean_style: :inline, input_html: {onkeyup: "myCostMarkup()", id: "amount"} %>

                  <%= f.label :total_amount, "Total" %>
                  <%= f.input :total_amount, class:"form-control", label: false, boolean_style: :inline, input_html: {id: "total", readonly: true} %>

                  <%= f.label :voucher_code, "Voucher Code (For Vodafone Only)" %>
                  <%= f.input :voucher_code, class:"form-control", label: false, boolean_style: :inline %>

                  <%= f.input :trans_type, as: :hidden, input_html: {value: "DR"} %>
                  <%= f.button :submit, "Deposit", :class => 'btn btn-primary' %>
                  <%= link_to "Back", request_masters_path, :class => 'btn btn-danger' %>
           
                <% end %>
            </div>
          </div>




        </div>
      </div>
    </section><!-- #more-features -->


<script>
  function myCostMarkup() {
    var amount = $('#amount').val();
    var per_val =(2 / 100) * amount;
    var final_figure = parseFloat(amount) + parseFloat(per_val)
    $(".description #total").val( final_figure );
  } 
</script>