<p id="notice"><%= notice %></p>

<p>
  <strong>Permission:</strong>
  <%= @permissions_role.permission_id %>
</p>

<p>
  <strong>Role:</strong>
  <%= @permissions_role.role_id %>
</p>

<%= link_to 'Edit', edit_permissions_role_path(@permissions_role) %> |
<%= link_to 'Back', permissions_roles_path %>
