
<%= simple_form_for(@role, :html => { :class => 'description'}) do |f| %>
  <%= f.error_notification %>

  <%= f.label :name, "Name" %>
  <%= f.input :name, class:"form-control", label: false, boolean_style: :inline %>




	<div class="form-inputs">
  		<%= f.label :name, "Permissions" %>
	  	<table class="table table-striped custab table-responsive table-hover table-condensed table-bordered">
		  	<tr>
		    	<th> Class</th>
		    	<th> Action</th>
		    	<th><input type="checkbox" onClick="toggle(this)" /> All<br/></th>
		    </tr>

		   	<% @permissions.each do |permission| %>
		    <tr>
		      <td> <%= permission.subject_class %> </td>
		      <td> <%= permission.action %> </td>
		      <td> <%= check_box_tag 'permissions[]', permission.id, @role_permissions.include?(permission.id), {array: true, class: "check_box"} %> </td>
		    </tr>
		    <% end %>
		</table>
	</div>




  <%= f.button :submit, "Save", :class => 'btn btn-primary' %>
  <%= link_to "Back", roles_path, :class => 'btn btn-danger' %>

<% end %>




<script type="text/javascript">
	function toggle(source) {
	  checkboxes = document.getElementsByName('permissions[]');
	  for(var i=0, n=checkboxes.length;i<n;i++) {
	    checkboxes[i].checked = source.checked;
	  }
	}
</script>